@import url(style.css);
@import url(responsive.css);

p {
    margin: 1rem 0rem;
    color: var(--grey);
}

.nav {
    width: 1200px;
}

.topbar {
    height: 2.5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #222222;
    background-color: var(--default-black);
}

.topbar a {
    font-size: 0.875rem;
    padding: .5rem 1rem;
    color: var(--grey);
}

.topbar a:hover {
    color: white;
}

.topbar-selected {
    border-bottom: 3px solid var(--blue-pastel);
    color: white !important;
}

.topbar li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

.hero {
    max-width: 1200px;
    height: calc(100vh - 2.5rem);
    margin: auto;
    color: white;
    display: grid;
    grid-template-areas: "nav nav" "ht hs" "sc sc";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6.25rem 2fr 3.125rem;
}

.logo {
    width: 8.75rem;
    height: 1.6875rem;
    background: url(../assets/logo_white.svg) no-repeat center;
    background-size: contain;
}

.hero-text {
    grid-area: ht;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text h1 {
    font-size: 4.5rem;
    letter-spacing: -0.125rem;
    line-height: 90%;
    background: -webkit-linear-gradient(145deg, var(--blue-pastel), var(--red-pastel));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buttons {
    margin-top: 1.25rem;
}

.buttons > .text-button {
    margin-left: 1rem;
}

.hero-submit {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-area: hs;
}

.form {
    width: 24.0625rem;
    height: 15rem;
    padding: 1.5rem;
    border-radius: 0.625rem;
    background-color: white;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.5);
    color: var(--default-black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form h2 {
    color: var(--alt-black);
    font-size: 2rem;
    line-height: 90%;
    letter-spacing: -0.0625rem;
    
}

.form input {
    font-family: var(--default-font);
    font-size: 1.125rem;
    font-weight: 700;
    padding: .5rem 0rem;
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--light-grey);
}

.form input::placeholder {
    font-weight: 500;
}

.form input:focus {
    outline: none;
    border-bottom: 2px solid var(--blue-pastel);
}

.heading-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foot-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot-submit p {
    font-size: 0.875rem;
    color: var(--grey);
    width: 90%;
}

.foot-submit p > a {
    font-weight: 600;
    color: var(--dark-grey);
    text-decoration: none;
}

.foot-submit p > a:hover {
    text-decoration: underline;
}

.foot-submit button{
    padding: .75rem .85rem;
    border: none;
    border-radius: 3.125rem;
    background-color: var(--default-black);
    cursor: pointer;
}

.foot-submit button:disabled{
    padding: .75rem .85rem;
    border: none;
    border-radius: 3.125rem;
    background-color: var(--grey);
}

.foot-submit button > i {
    color: white;
    font-size: 1rem;
}

.scroll {
    font-size: 1.25rem;
    text-align: right;
    grid-area: sc;
}

.scroll i {
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.light {
    position: absolute;
    top: 0;
    z-index: -999;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, transparent, transparent, rgba(255, 255, 255, 0.1));
}

.sec-2 {
    width: 100%;
    background-color: rgb(251, 251, 251);
    padding: 3.125rem 0rem;
}

.sec-2-flex {
    display: flex;
    align-items: center;
    gap: 6.25rem;
}

.title-sec {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--dark-purple);
}

.title-sec-dark {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--red-pastel);
}

.sec-21-flex {
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sec-21-flex div{
    width: 22.5%;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 0.625rem;
    padding: 1.5rem;
}

.box {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.box h2 {
    font-size: 1.2rem;
    color: var(--alt-black);
    letter-spacing: -0.0313rem;
    font-weight: 500;
}

.box img {
    width: 3.125rem;
    height: 3.125rem;
}

.business {
    background-color: var(--default-black);
    padding: 30px 0rem;
    border-radius: 0.625rem;
}

.business-cont {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.business-cont h2 {
    margin-top: 1rem;
    color: white;
    font-weight: 500;
}

.business img {
    height: 12.5rem;
}

.sec-3 {
    width: 100%;
    background-color: rgb(251, 251, 251);
}

.sec-3-flex {
    display: flex;
    align-items: center;
    gap: 6.25rem;
}

.sec-3-flex h1 {
    width: 70%;
}

.sec-3-flex img {
    width: 30%;
}

.sec-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.125rem 0rem;
    text-align: center;
}

.sec-4 img {
    width: 3.125rem;
}

.sec-4 h1, p {
    width: 80%;
}

.sec-4 h1 {
    color: white;
}

.pair-logo {
    display: flex;
    gap: 6.25rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pair-logo img {
    margin: 3.125rem 0rem;
    width: 6.25rem;
    opacity: .5;
}

.pair-logo img:hover {
    opacity: 1;
}

.box-select {
    position: relative;
}

.box-select a {
    color: var(--grey);
    text-decoration: none;
}

.box-select a:hover {
    color: var(--default-black);
}

.box-select span {
    right: 0;
    top: 0;
    margin: .5rem;
    background-color: var(--red-pastel);
    border-radius: 3px;
    padding: .2rem .7rem;
    position: absolute;
    font-weight: 700;
}

.box-select:hover {
    transform: translateY(-0.625rem);
    box-shadow: 0px 0.625rem 1.5625rem rgba(0, 0, 0, 0.1);
}